---
import CalltoAction from "../components/CalltoAction.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Agencia de viajes - Conresa Tours"
    description="Agencia de Viajes y Turismo Ubicada en: Av. Mariscal Benavides 183 Urb. Parque Selva Alegre - Cercado - Arequipa - Perú | Telf.:054 285420 WhatsApp : 949351505"
>
    <Hero />
    <!-- Texto + Botón -->
    <CalltoAction />
    <div class="bg-[#3D7872]-conresa text-white p-4">
        ¡Este es un div con el color personalizado!
      </div>
      
</Layout>
