---
import Facebook from "../icons/Facebook.astro";
import Instagram from "../icons/Instagram.astro";
import Youtube from "../icons/Youtube.astro";
---

<!-- Botones Sociales -->
<div
  class="fixed z-50 flex flex-col gap-2 md:gap-4
         bottom-4 left-11/12 -translate-x-1/2
         md:left-auto md:right-4 md:top-3/5 md:-translate-x-0 md:-translate-y-1/2"
>
  <a
    href="https://www.facebook.com/ConresaToursPeru"
    target="_blank"
    rel="noopener noreferrer"
    class="p-1 rounded-full shadow-lg hover:scale-110 transition-transform"
    aria-label="Facebook"
  >
    <Facebook class="size-10" />
  </a>

  <a
    href="https://www.instagram.com/conresa_tours/"
    target="_blank"
    rel="noopener noreferrer"
    class="p-1 rounded-full shadow-lg hover:scale-110 transition-transform"
    aria-label="Instagram"
  >
  <Instagram class="size-10" />
  </a>

  <a
    href="https://www.youtube.com/@conresatoursagenciadeviaje5389"
    target="_blank"
    rel="noopener noreferrer"
    class=" p-1 rounded-full shadow-md hover:scale-110 transition-transform"
    aria-label="YouTube"
  >
  <Youtube class="size-10" />
  </a>
</div>
