---
// Archivo css
import "../styles/global.css";

import "@fontsource/nothing-you-could-do";
import "@fontsource-variable/merienda";
import "@fontsource-variable/inter";
import Nabvar from "../components/Nabvar.astro";
import { ClientRouter, slide } from "astro:transitions";
import Footer from "../components/Footer.astro";
import FloattingButton from '../components/WhatsAppButton.astro';

interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props as Props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
		/>

		<script
			src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
		></script>
	</head>
	<body>
		<ClientRouter />
		<Nabvar />
		<slot />
		<Footer />
		<FloattingButton />
		<!-- <SocialMedia /> -->
		<script
			src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
			defer></script>
		<script
			<script
			is:inline
			src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"
		></script>
	</body>
</html>

<style is:global>
	body {
		font-family: "Inter Variable", sans-serif;
		font-size: 14px;
	}
	h1 {
		font-family: "Merienda Variable", cursive;
		text-align: center;
		font-size: 64px;
		font-weight: bold;
		color: #1f2937;
		margin-bottom: 1.5rem;
	}
	h2 {
		font-family: "Merienda Variable", cursive;
		font-size: 2.5rem;
		line-height: 1.2;
		font-weight: bold;
		color: #48887F;
		margin-bottom: 1rem;
	}
	.cursive-subtitle {
		font-family: "Merienda Variable", cursive;
	}
	h3 {
		font-family: "Gowun Dodum", sans-serif;
	}
	.title-bg {
		font-family: "Nothing You Could Do", cursive;
		font-size: 5rem;
	}
	@media (max-width: 768px) {
		.title-bg {
			font-size: 3rem;
		}
	}
	@media (max-width: 768px) {
		h1 {
			font-size: 2.25rem;
			margin-bottom: 1.5rem;
		}
		h2 {
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}
		h3 {
		}

		.btn-primary {
			background-color: #48887F;
		}
	}
	.cursive-font {
		font-family: "Nothing You Could Do", cursive;
	}
</style>
<script>
	import { initFlowbite } from "../scripts/flowbite-init.ts";

	document.addEventListener("astro:after-swap", () => {
		initFlowbite();
	});
</script>
